{% extends 'base.html.twig' %}

{% block title %}Réservations{% endblock %}

{% block body %}
    <h1 class="text-5xl text-center py-4">Réservations de {{ borrower.BorrowerName }}</h1>
{% endblock %}

{% block javascripts %}
<script src='{{ asset('js/fullcalendar/index.global.min.js') }}'></script>
        <script>
            var calendarEl = document.createElement('div');
            calendarEl.id = 'calendar';
            calendarEl.classList.add('sm:m-8', 'bg-blue-400', 'rounded-md', 'p-6');
            document.body.appendChild(calendarEl);

            if (calendarEl) {
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    initialView: 'multiMonthYear',
                    eventSources: [{
                        events: [
                {% for loan in loans %}
                    {
                        title  : '{{ loan.equipment.name }}',
                        start  : '{{ loan.startDate|date('Y-m-d') }}',
                        end    : '{{ loan.endDate|date('Y-m-d') }}',
                        url    : "{{ path('app_equipment_show', {'id': loan.equipment.id}) }}"
                    },
                {% endfor %}
            ]
                    }]
                });
                calendar.render();
            }
        </script>
    {% endblock %}
