{% extends 'base.html.twig' %}

{% block title %}Equipment index{% endblock %}
{% block stylesheets %}
    <link rel="https://cdn.datatables.net/2.1.8/css/dataTables.min.css">
{% endblock %}

{% block body %}
    <h1>Equipment index</h1>
    <div class='flex flex-row '>
        <a href="{{ path('app_equipment_new') }}">Créer un nouvel équipement</a>
    </div>
    <div class='w-full p-16'>
        <table class="table display">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Taille</th>
                    <th>Stock</th>
                    <th>Categorie</th>
                    <th>État</th>
                    <th>Stockage</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for equipment in equipments %}
                <tr>
                    <td>{{ equipment.name }}</td>
                    <td>{{ equipment.size }}</td>
                    <td>{{ equipment.stockQuantity }}</td>
                    <td>{{ equipment.category.name }}</td>
                    <td>{{ equipment.status.name }}</td>
                    {% if equipment.storage %}
                        <td>{{ equipment.storage.building.name }} - Rayon {{ equipment.storage.laneNumber}}</td>
                    {% else %}
                        <td>Pas de stockage</td>
                    {% endif %}
                    <td>
                        <a href="{{ path('app_equipment_reservations', {'id': equipment.id}) }}">Regarder les réservations</a>
                        <a href="{{ path('app_equipment_edit', {'id': equipment.id}) }}">edit</a>
                    </td>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    <script src='https://code.jquery.com/jquery-3.7.1.js'></script>
    <script src='https://cdn.datatables.net/2.1.8/js/dataTables.min.js'></script>
    <script src='https://cdn.datatables.net/2.1.8/js/dataTables.tailwindcss.js'></script>
    <script src='https://cdn.tailwindcss.com/'></script>
    <script>
        var table = new DataTable('.table');
    </script>
{% endblock %}
