{% extends 'base.html.twig' %}

{% block title %}New Equipment{% endblock %}

{% block body %}
    <h1>Create new Equipment</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.stockQuantity) }}
        {{ form_row(form.category) }}
        {{ form_row(form.status) }}
    {{ form_end(form) }}

    <a href="{{ path('app_equipment_index') }}">back to list</a>
{% endblock %}
