{% extends 'base.html.twig' %}

{% block title %}Réservations{% endblock %}

{% block body %}
    <h1 class="text-5xl text-center py-4">Réservations de {{ equipment.name }}</h1>
{% endblock %}

{% block javascripts %}
        <script src='{{ asset('js/fullcalendar/index.global.min.js')}}'></script>
        <script>

            var calendarEl = document.createElement('div');
            calendarEl.id = 'calendar';
            calendarEl.classList.add('sm:m-8', 'bg-blue-400', 'rounded-md', 'p-6');
            document.body.appendChild(calendarEl);

            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'multiMonthYear',
                eventSources: [
                    {
                        events: [
                            {% for loan in loans %}
                                {
                                    title  : '{{ loan.borrower.BorrowerName }}',
                                    start  : '{{ loan.startDate|date('Y-m-d') }}',
                                    end    : '{{ loan.endDate|date('Y-m-d') }}',
                                    url   : "{{ path('borrower_show', {'id': loan.borrower.id, 'selected_loan_id': loan.id}) }}",
                                },
                            {% endfor %}
                        ]
                    }
                ]
            });
            calendar.render();

        </script>
    {% endblock %}

