{% extends 'base.html.twig' %}

{% block title %}Employees{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold mb-4 mt-8 w-fit mx-auto">Gestion des Employés</h1>
    <p class='text-green-500 w-fit mx-auto bg-white p-4 rounded-lg mb-10'>{{ message }}</p>
    <script>
        function deleteEmployeeConfirmation(id) {
            let confirmation = confirm('Voulez-vous vraiment supprimer cet employé ?');
            if (confirmation) {
                window.location.href = '/admin/deleteEmployee/' + id;
            }
        }
    </script>
    <div class="w-fit mx-auto my-8">
        <a href="{{ path('app_create_employee') }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Créer un Employé
        </a>
    </div>
    <div class='w-2/3 p-16 mx-auto bg-white shadow-md rounded-lg text-center'>
        <table class="table-auto w-full border-collapse">
            <thead>
                <tr class="bg-gray-200">
                    <th class="px-4 py-2 border">Nom</th>
                    <th class="px-4 py-2 border">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for employee in employees %}
                {% if 'ROLE_ADMIN' not in employee.roles %}
                    <tr class="hover:bg-gray-100">
                        <td class="px-4 py-2 border">{{ employee.firstname }} {{ employee.lastname }}</td>
                        <td class="px-4 py-2 border text-center">
                            <button class="text-red-500 hover:text-red-700" onclick='deleteEmployeeConfirmation({{employee.id}})'>Supprimer</button>
                            <a class="text-blue-500 hover:text-blue-700 ml-4" href='{{ path('app_edit_employee', {id: employee.id}) }}'>Modifier</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}