{% extends 'base.html.twig' %}

{% block title %}Nouvel emprunt{% endblock %}

{% block body %}
    <script>
        function toggleBorrowerFields() {
            var borrowerType = document.getElementById('borrower_type').value;
            var employeeSelect = document.getElementById('employee_select');
            var customerSelect = document.getElementById('customer_select');
            var newClientForm = document.getElementById('new_customer_form');
            var customerChoice = document.getElementById('customer_choice');

            employeeSelect.style.display = 'none';
            customerSelect.style.display = 'none';
            newClientForm.style.display = 'none';
            customerChoice.style.display = 'none';

            if (borrowerType === 'employee') {
                employeeSelect.style.display = 'block';
            } else if (borrowerType === 'customer') {
                customerChoice.style.display = 'block';
            }
        }

        function toggleCustomerFields() {
            var customerChoice = document.getElementById('customer_choice_select').value;
            var customerSelect = document.getElementById('customer_select');
            var newClientForm = document.getElementById('new_customer_form');

            customerSelect.style.display = 'none';
            newClientForm.style.display = 'none';

            if (customerChoice === 'select') {
                customerSelect.style.display = 'block';
            } else if (customerChoice === 'create') {
                newClientForm.style.display = 'block';
            }
        }
    </script>
    <h1 class="text-2xl font-bold mb-4 w-fit mx-auto">Créer un nouveau prêt pour {{ equipment.name }}</h1>
    <form action="{{ path('nouvelle_reservation') }}" method="POST" class="space-y-4 w-1/2 mx-auto">
        <input type="hidden" name="equipment_id" value="{{ equipment.id }}">
        <div>
            <label for="start_date" class="block text-sm font-medium text-gray-700">Date de début:</label>
            <input type="date" id="start_date" name="start_date" required class="mt-1 block w-full border-gray-300 rounded-md shadow-sm p-1">
        </div>
        <div>
            <label for="end_date" class="block text-sm font-medium text-gray-700">Date de fin:</label>
            <input type="date" id="end_date" name="end_date" required class="mt-1 block w-full border-gray-300 rounded-md shadow-sm p-1">
        </div>
        <div>
            <label for="borrower_type" class="block text-sm font-medium text-gray-700">Type d'emprunteur:</label>
            <select id="borrower_type" name="borrower_type" required onchange="toggleBorrowerFields()" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm p-1">
                <option default value="">Sélectionnez un type</option>
                <option value="employee">Employé</option>
                <option value="customer">Client</option>
            </select>
        </div>
        <div id="employee_select" style="display: none;">
            <label for="employee" class="block text-sm font-medium text-gray-700">Sélectionnez un employé:</label>
            <select id="employee" name="employee" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm p-1">
                {% for employee in employees %}
                    <option value="{{ employee.id }}">{{ employee.firstName }} {{ employee.lastName }}</option>
                {% endfor %}
            </select>
        </div>
        <div id="customer_choice" style="display: none;">
            <label for="customer_choice" class="block text-sm font-medium text-gray-700">Choisissez une option:</label>
            <select id="customer_choice_select" name="customer_choice" onchange="toggleCustomerFields()" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm p-1">
                <option default value="">Sélectionnez une option</option>
                <option value="select">Sélectionner un client existant</option>
                <option value="create">Créer un nouveau client</option>
            </select>
        </div>
        <div id="customer_select" style="display: none;">
            <label for="customer" class="block text-sm font-medium text-gray-700">Sélectionnez un client:</label>
            <select id="customer" name="customer" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm p-1">
                {% for customer in customers %}
                    <option value="{{ customer.id }}">{{ customer.firstName }} {{ customer.lastName }}</option>
                {% endfor %}
            </select>
        </div>
        <div id="new_customer_form" style="display: none;">
            <h2 class="text-xl font-bold mb-2">Créer un nouveau client</h2>
            <div>
                <label for="customer_first_name" class="block text-sm font-medium text-gray-700">Prénom:</label>
                <input type="text" id="customer_first_name" name="customer_first_name" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm p-1">
            </div>
            <div>
                <label for="customer_last_name" class="block text-sm font-medium text-gray-700">Nom:</label>
                <input type="text" id="customer_last_name" name="customer_last_name" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm p-1">
            </div>
            <div>
                <label for="customer_phone" class="block text-sm font-medium text-gray-700">Téléphone:</label>
                <input type="text" id="customer_phone" name="customer_phone" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm p-1">
            </div>
        </div>
        <div>
            <button type="submit" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">Créer le prêt</button>
        </div>
    </form>
{% endblock %}
